@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
  background-color: #9b9898;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

/* boton */
.magic {
  background-color: #baa7b7;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  padding: 12px 20px;
  cursor: pointer; 
  letter-spacing: 5px; /* Espacio entre cada letra del boton */
  box-shadow: 0 4px #cbc3ca;
  z-index: 100; /* adelante/sobre */
}


.boxes {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-around; /* Si elimino solo quedan filas(4) */
  height: 500px;
  width: 500px;
  position: relative;
  transition: 0.4s ease;
}

.boxes.big {
  width: 600px;
  height: 600px;
}

/* Rotacion circular */
.boxes.big .box {
  transform: rotateZ(360deg);
}

.box {
  background-image: url('https://64.media.tumblr.com/4c7d948425898ea854b6fef2f265a8ae/tumblr_n5kn9hyc1J1sp6e2vo1_r1_500.gif');
  background-repeat: no-repeat;
  background-size: 500px 500px;/* ocupe todo el espacio del contenedor */
  position: relative;
  height: 125px;
  width: 125px;
  transition: 0.4s ease;
}
/* Efecto 3d en el lado derecho */
.box::after {
  content: '';
  background-color: #cbc3ca;
  position: absolute;
  top: 8px;
  right: -15px;
  height: 100%;
  width: 15px;
  transform: skewY(45deg);
}
/* Efecto 3d en la parte de abajo */
.box::before {
  content: ''; 
  background-color: #cbc3ca;
  position: absolute;
  bottom: -15px;
  left: 8px;
  height: 15px;
  width: 100%;
  transform: skewX(45deg);
}